{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block contents %}
<br>
<h1>対戦相手</h1>
<br>
<div class="parent">
    <form action="{{ url_for('kanteki') }}" method="post" class="form-css" name="mode-form">
        <!-- <label for="mode" class="switch">
            <p>リアルモード</p>
            <div class="switch-button">
                <input type="checkbox" id="mode" name="mode">
                <div class="circle"></div>
                <div class="base"></div>
            </div>
        </label><br> -->
        <div>
            <input type="checkbox" id="mode" name="mode" {% if mode=="on" %}checked{% endif %}/>
            <label for="mode">リアルモード</label>
        </div><br>
        
        <select name="NumOfPeople" id="NumOfPeople" required>
            <button>
                <selectedcontent></selectedcontent>
            </button>
            {% for i in range(4,7) %}
            <option value="{{ i }}" {% if i == num_of_people %}selected{% endif %}>
                {{ i }}
            </option>
            {% endfor %}
        </select>
        <label for="NumOfPeople">人立ち</label><br><br>

        <label for="opponent">
        相手校を選択してください
        </label><br>
        <select name="opponent" id="opponent" required>
            <button>
                <selectedcontent></selectedcontent>
            </button>

            {% for i in range(opponents|length) %}
            <option value="{{ opponents[i] }}" {% if opponents[i] == opponent %}selected{% endif %}>
                {{ opponents[i] }}
            </option>
            {% endfor %}
        </select><br><br>

        <label for="hit" class="">
        相手校の的中数を選択してください
        </label><br>
        <div class="hit">
            <div class="lowHit">
                <select name="lowHit" id="lowHit" required>
                    <button>
                        <selectedcontent></selectedcontent>
                    </button>
                    {% for i in range(cell_num+1) %}
                    <option value="{{ i }}" {% if i == lowHit %}selected{% endif %}>
                        {{ i }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <p name="tekichuu-p">〜</p>
            <div class="highHit">
                <select name="highHit" id="highHit" required>
                    <button>
                        <selectedcontent></selectedcontent>
                    </button>
                    {% for i in range(cell_num+1) %}
                    <option value="{{ i }}" {% if i == highHit %}selected{% endif %}>
                        {{ i }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <br><br>

        <button type="submit" class="start-button">
            行射開始
        </button>
    </form>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='NumOfPeople.js') }}"></script>
{% endblock %}